:root {
	/* Primary */
	--vui-primary: #2e39ff;
	--vui-primary-foreground: #ffffff;

	/* Destructive */
	--vui-destructive: #cd2e2e;
	--vui-destructive-foreground: #ffffff;

	/* Success */
	--vui-success: #55ff5b;
	--vui-success-foreground: #030303;

	/* Secondary */
	--vui-secondary: #d9d9d9;
	--vui-secondary-foreground: #222222;

	/* Background */
	--vui-background: #121212;
	--vui-background-foreground: #f7f7f7;
}
